.btn {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: #ffffff;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &--transparent {
    background: transparent;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}