.catalog__wrapper {
  padding-top: 133px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 auto 40px;
    max-width: 1132px;

    font-size: 50px;
    font-family: $ff-disketmono;
    font-weight: 700;
    line-height: 44px;
    color: #4b4b4b;
    text-align: center;
  }

  b {
    color: #ff552f;
  }
}

.catalog__list {
  margin: 25px 0 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 391px);
  grid-template-rows: 374px 374px;
  column-gap: 17px;
  row-gap: 20px;
  list-style-type: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0 auto;
    max-width: 270px;

    font-size: 24px;
    font-family: $ff-disketmono;
    font-weight: 700;
    line-height: 89.023%;
    color: #363844;
    text-align: center;
  }

  span {
    margin: 0 auto;
    font-size: 20px;
    font-family: $ff-opensans;
    font-weight: 300;
    line-height: 130%;
    color: #363844;
  }
}

.catalog__link {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &::after {
    visibility: hidden;
    position: absolute;
    content: "";
    width: 65px;
    height: 65px;
    background-color: #ff552f;
    left: -3px;
    top: -3px;
    z-index: -1;
    transition: visibility $trans-modal;
  }

  &::before {
    visibility: hidden;
    position: absolute;
    content: "";
    width: 65px;
    height: 65px;
    background-color: #ff552f;
    right: -3px;
    top: -3px;
    z-index: -1;
    transition: visibility $trans-modal;
  }

  &:hover,
  &:active {
    &::before,
    &::after {
      visibility: visible;
    }
  }

  &:focus {
    outline: none;
    &::before,
    &::after {
      visibility: visible;
    }
  }
}

.catalog__image-wrapper {
  margin-bottom: 20px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  background-color: #efefef;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
}

.catalog__image-text {
  margin: 20px 0 0 0;
  max-width: 126px;

  font-size: 16px;
  font-family: $ff-opensans;
  font-weight: 600;
  line-height: 130%;
  color: #a5a5a5;
  text-align: center;

  &--add-image {
    display: none;
  }
}

.catalog__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 357px;
  height: 152px;
  margin-top: auto;

  /*&::before {
    content: "";
    display: block;
    padding-bottom: calc(68 / 120 * 100%);
  }*/

  img {
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.catalog__description {
  min-height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog__decor {
  position: relative;
  overflow: hidden;
  width: 127px;
  height: 99px;
  margin-top: auto;

  /*&::before {
    content: "";
    display: block;
    padding-bottom: calc(80 / 120 * 100%);
  }*/

  img {
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--add-image {
    display: none;
  }
}
