@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"),
    url("../fonts/opensans-regular.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "DisketMono";
  src: url("../fonts/disketmono.woff2") format("woff2"),
    url("../fonts/disketmono.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
